@font-face{
    font-family: Orbitron;
    src: local(Orbitron), url(../fonts/orbitron/OrbitronLight-R7GV.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    margin: 0px;
    padding: 0px;
    overflow: auto;
    background-color: #303B4C;
    width: 100%;
   
}

.estrela{
    position: absolute;
    width: 1.5px;
	height: 1.5px;
	border-radius: 50%;
    animation: efeito 2.5s infinite;
    box-shadow: 
    653px 37px 0 yellow, 
    973px 250px 0 yellow, 
    1065px 155px 0 yellow, 
    1007px 164px 0 yellow, 
    569px 259px 0 yellow,
    328px 561px 0 yellow, 
    81px 572px 0 yellow, 
    175px 496px 0 yellow, 
    128px 178px 0 yellow, 
    113px 659px 0 yellow,
    794px 774px 0 yellow, 
    1614px 1459px 0 yellow, 
    713px 113px 0 yellow, 
    1507px 440px 0 yellow, 
    168px 1413px 0 yellow, 
    1661px 169px 0 yellow, 
    1568px 565px 0 yellow, 
    958px 1465px 0 yellow, 
    946px 1118px 0 yellow, 
    961px 1339px 0 yellow, 
    1974px 743px 0 yellow, 
    902px 261px 0 yellow, 
    1479px 402px 0 yellow, 
    772px 736px 0 yellow, 
    583px 612px 0 yellow, 
    523px 51px 0 yellow, 
    126px 1325px 0 yellow, 
    1201px 910px 0 yellow, 
    575px 761px 0 yellow, 
    395px 785px 0 yellow, 
    1703px 301px 0 yellow, 
    1938px 575px 0 yellow, 
    1778px 392px 0 yellow, 
    812px 1033px 0 yellow,
    1497px 1215px 0 yellow, 
    1550px 1200px 0 yellow, 
    47px 991px 0 yellow, 
    287px 758px 0 yellow, 
    255px 464px 0 yellow, 
    291px 1085px 0 yellow, 
    77px 875px 0 yellow, 
    888px 459px 0 yellow, 
    1001px 1428px 0 yellow, 
    1952px 422px 0 yellow, 
    1563px 1463px 0 yellow, 
    999px 1266px 0 yellow, 
    1941px 298px 0 yellow, 
    62px 542px 0 yellow, 
    1701px 224px 0 yellow, 
    1605px 91px 0 yellow, 
    1170px 1006px 0 yellow, 
    1685px 1297px 0 yellow, 
    577px 867px 0 yellow, 
    494px 1480px 0 yellow, 
    418px 230px 0 yellow, 
    1182px 731px 0 yellow, 
    1771px 1375px 0 yellow, 
    1892px 841px 0 yellow, 
    1504px 306px 0 yellow, 
    213px 605px 0 yellow, 
    460px 1099px 0 yellow, 
    54px 1451px 0 yellow, 
    1716px 1229px 0 yellow, 
    1810px 890px 0 yellow, 
    489px 962px 0 yellow, 
    745px 361px 0 yellow, 
    633px 1341px 0 yellow, 
    1702px 681px 0 yellow, 
    57px 1127px 0 yellow, 
    281px 196px 0 yellow, 
    113px 248px 0 yellow, 
    1507px 765px 0 yellow, 
    1186px 560px 0 yellow, 
    438px 673px 0 yellow, 
    1297px 524px 0 yellow, 
    1607px 221px 0 yellow, 
    614px 440px 0 yellow, 
    1975px 713px 0 yellow, 
    348px 421px 0 yellow, 
    527px 755px 0 yellow, 
    1585px 1087px 0 yellow, 
    1116px 1218px 0 yellow, 
    1433px 524px 0 yellow, 
    1141px 1016px 0 yellow, 
    1096px 1251px 0 yellow, 
    209px 1264px 0 yellow, 
    313px 432px 0 yellow, 
    480px 1096px 0 yellow, 
    59px 255px 0 yellow,
    1223px 179px 0 yellow;

}

.estrela2{
    position: absolute;
    width: 1.5px;
	height: 1.5px;
	border-radius: 50%;
    animation: efeito2 2.5s infinite;
	box-shadow: 
    1000px 255px 0 yellow, 
    641px 191px 0 yellow, 
    1085px 306px 0 yellow, 
    556px 302px 0 yellow, 
    729px 282px 0 yellow,
    223px 390px 0 yellow, 
    50px 460px 0 yellow, 
    212px 609px 0 yellow, 
    323px 389px 0 yellow, 
    217px 220px 0 yellow,
    514px 979px 0 yellow, 
    1233px 1240px 0 yellow,
    926px 596px 0 yellow, 
    58px 1052px 0 yellow, 
    1128px 364px 0 yellow, 
    916px 887px 0 yellow, 
    102px 1292px 0 yellow, 
    1619px 740px 0 yellow, 
    1380px 684px 0 yellow, 
    1931px 168px 0 yellow, 
    589px 839px 0 yellow, 
    1565px 784px 0 yellow,
    369px 262px 0 yellow,
    1460px 736px 0 yellow,
    1468px 129px 0 yellow,
    610px 218px 0 yellow,
    397px 139px 0 yellow, 
    1597px 221px 0 yellow,
    1926px 174px 0 yellow,
    1102px 661px 0 yellow, 
    835px 417px 0 yellow, 
    669px 643px 0 yellow, 
    992px 1209px 0 yellow, 
    490px 1142px 0 yellow, 
    747px 1023px 0 yellow, 
    449px 1334px 0 yellow, 
    1824px 1090px 0 yellow, 
    1311px 362px 0 yellow, 
    574px 1041px 0 yellow, 
    1465px 400px 0 yellow, 
    549px 326px 0 yellow, 
    1882px 323px 0 yellow, 
    1370px 1433px 0 yellow, 
    633px 592px 0 yellow, 
    1267px 1250px 0 yellow, 
    973px 101px 0 yellow, 
    1587px 36px 0 yellow, 
    1356px 358px 0 yellow, 
    1259px 1467px 0 yellow, 
    1820px 1412px 0 yellow,
    832px 1430px 0 yellow, 
    689px 1357px 0 yellow, 
    455px 518px 0 yellow, 
    1922px 1007px 0 yellow, 
    1814px 46px 0 yellow, 
    1693px 1360px 0 yellow, 
    1497px 220px 0 yellow, 
    468px 534px 0 yellow, 
    1498px 250px 0 yellow, 
    1706px 256px 0 yellow,
    889px 1367px 0 yellow, 
    1981px 1428px 0 yellow, 
    447px 1055px 0 yellow, 
    1162px 541px 0 yellow, 
    1724px 29px 0 yellow, 
    1885px 963px 0 yellow, 
    119px 518px 0 yellow, 
    1394px 1348px 0 yellow, 
    1687px 1156px 0 yellow, 
    1710px 262px 0 yellow, 
    1517px 1134px 0 yellow, 
    1377px 323px 0 yellow, 
    1440px 979px 0 yellow, 
    1525px 1171px 0 yellow, 
    1315px 813px 0 yellow, 
    141px 1297px 0 yellow, 
    1794px 208px 0 yellow, 
    1032px 596px 0 yellow, 
    745px 1434px 0 yellow, 
    214px 60px 0 yellow, 
    1343px 798px 0 yellow, 
    461px 610px 0 yellow, 
    319px 432px 0 yellow, 
    291px 432px 0 yellow, 
    79px 204px 0 yellow, 
    1340px 1132px 0 yellow, 
    1797px 1154px 0 yellow, 
    778px 1091px 0 yellow, 
    1753px 1032px 0 yellow,
    1230px 322px 0 yellow, 
    1238px 147px 0 yellow, 
    1297px 282px 0 yellow, 
    1217px 115px 0 yellow,
    1238px 151px 0 yellow,
    59px 1034px 0 yellow;
    filter: blur(2px); 
}

.estrela3{
    width: 1.5px;
	height: 1.5px;
    border-radius: 50%;
    position: absolute;
    animation: efeito 3s infinite;
    box-shadow: 
    1591px 173px 0 white, 
    1132px 193px 0 white, 
    905px 315px 0 white, 
    797px 119px 0 white, 
    1131px 166px 0 white,
    63px 213px 0 white, 
    279px 383px 0 white, 
    336px 226px 0 white, 
    250px 383px 0 white, 
    345px 288px 0 white,
    941px 429px 0 white, 
    1424px 1058px 0 white, 
    1582px 235px 0 white, 
    1041px 1281px 0 white, 
    1415px 243px 0 white, 
    1430px 914px 0 white, 
    1038px 861px 0 white, 
    1914px 695px 0 white, 
    1908px 1088px 0 white, 
    1445px 518px 0 white, 
    1183px 1083px 0 white, 
    821px 1266px 0 white, 
    19px 556px 0 white, 
    388px 1075px 0 white, 
    637px 1198px 0 white, 
    1292px 447px 0 white, 
    533px 1136px 0 white, 
    1935px 1441px 0 white, 
    152px 1052px 0 white, 
    1120px 300px 0 white, 
    1153px 91px 0 white, 
    1782px 685px 0 white, 
    1356px 296px 0 white, 
    1062px 1348px 0 white, 
    772px 1370px 0 white, 
    1054px 963px 0 white, 
    679px 738px 0 white, 
    1556px 278px 0 white, 
    1943px 254px 0 white, 
    1458px 148px 0 white, 
    1225px 455px 0 white, 
    1648px 315px 0 white, 
    897px 985px 0 white, 
    94px 1452px 0 white, 
    547px 1065px 0 white, 
    1037px 464px 0 white, 
    1055px 1185px 0 white, 
    60px 791px 0 white, 
    1552px 680px 0 white, 
    375px 538px 0 white, 
    16px 783px 0 white, 
    1851px 718px 0 white, 
    1368px 307px 0 white, 
    845px 23px 0 white, 
    831px 738px 0 white, 
    1763px 245px 0 white, 
    152px 1269px 0 white, 
    293px 629px 0 white, 
    1597px 83px 0 white, 
    31px 1434px 0 white, 
    336px 754px 0 white, 
    62px 687px 0 white, 
    1246px 1461px 0 white, 
    1457px 1161px 0 white, 
    913px 364px 0 white, 
    1464px 74px 0 white, 
    1188px 863px 0 white, 
    1736px 1357px 0 white, 
    309px 569px 0 white, 
    1409px 644px 0 white, 
    657px 181px 0 white, 
    1535px 1009px 0 white, 
    281px 347px 0 white, 
    1437px 1222px 0 white,
    1175px 1288px 0 white, 
    1585px 171px 0 white, 
    1637px 717px 0 white, 
    491px 1080px 0 white, 
    453px 693px 0 white, 
    1766px 752px 0 white, 
    1942px 114px 0 white, 
    1694px 748px 0 white, 
    1931px 1396px 0 white, 
    196px 21px 0 white, 
    815px 517px 0 white, 
    816px 1241px 0 white, 
    1301px 1285px 0 white, 
    1691px 771px 0 white, 
    708px 1263px 0 white, 
    551px 1016px 0 white, 
    1304px 375px 0 white, 
    1370px 113px 0 white, 
    1267px 139px 0 white, 
    1219px 385px 0 white, 
    1353px 308px 0 white;
    
}

.estrela4{
    width: 1.5px;
	height: 1.5px;
    border-radius: 50%;
    position: absolute;
    animation: efeito2 4s infinite;
    box-shadow: 
    986px 146px 0 white, 
    819px 218px 0 white, 
    1034px 341px 0 white, 
    811px 208px 0 white, 
    763px 103px 0 white,
    213px 560px 0 white, 
    44px 459px 0 white, 
    157px 596px 0 white, 
    16px 177px 0 white, 
    197px 285px 0 white,
    62px 826px 0 white, 
    1960px 109px 0 white, 
    1451px 1365px 0 white, 
    975px 1062px 0 white, 
    771px 1109px 0 white, 
    1570px 959px 0 white, 
    262px 518px 0 white, 
    1693px 442px 0 white, 
    932px 1025px 0 white, 
    600px 908px 0 white, 
    1033px 902px 0 white, 
    969px 1057px 0 white, 
    470px 1322px 0 white, 
    425px 670px 0 white, 
    94px 1138px 0 white, 
    659px 727px 0 white, 
    1179px 958px 0 white, 
    867px 371px 0 white, 
    104px 1155px 0 white, 
    513px 1469px 0 white, 
    1128px 1436px 0 white, 
    1161px 928px 0 white, 
    832px 1001px 0 white, 
    1920px 1374px 0 white, 
    1774px 781px 0 white, 
    1775px 975px 0 white, 
    858px 1391px 0 white, 
    961px 1069px 0 white, 
    1989px 992px 0 white, 
    1927px 703px 0 white, 
    461px 316px 0 white, 
    69px 1206px 0 white, 
    186px 547px 0 white, 
    627px 661px 0 white, 
    1490px 711px 0 white, 
    1211px 947px 0 white, 
    1938px 706px 0 white, 
    1838px 36px 0 white, 
    912px 606px 0 white, 
    1959px 580px 0 white, 
    915px 1090px 0 white, 
    889px 168px 0 white, 
    899px 1348px 0 white, 
    1220px 979px 0 white, 
    1095px 1083px 0 white, 
    1660px 919px 0 white, 
    58px 723px 0 white,
    1219px 1475px 0 white, 
    991px 1177px 0 white, 
    530px 125px 0 white, 
    463px 226px 0 white, 
    187px 393px 0 white, 
    1763px 583px 0 white, 
    1785px 936px 0 white, 
    881px 940px 0 white, 
    426px 436px 0 white, 
    244px 1034px 0 white, 
    632px 57px 0 white, 
    648px 1430px 0 white, 
    1623px 1429px 0 white, 
    875px 908px 0 white, 
    566px 1218px 0 white, 
    1455px 704px 0 white, 
    1595px 705px 0 white, 
    782px 956px 0 white, 
    1605px 940px 0 white, 
    1574px 72px 0 white, 
    1043px 671px 0 white, 
    981px 703px 0 white, 
    817px 777px 0 white, 
    657px 1405px 0 white, 
    40px 204px 0 white, 
    1879px 841px 0 white, 
    237px 879px 0 white, 
    246px 706px 0 white, 
    150px 366px 0 white, 
    1750px 605px 0 white, 
    50px 1430px 0 white, 
    1834px 664px 0 white, 
     1212px 271px 0 white,
     1309px 190px 0 white, 
     1202px 159px 0 white, 
     1278px 169px 0 white, 
     1210px 247px 0 white,
    1742px 829px 0 white;

    /* filter: blur(2px);  */

}

@keyframes efeito {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes efeito2 {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.header-bg{
    width: 100%;
    display: flex;
    height: 100px;
    justify-content:  space-between;
    align-items: center;
    position: relative;
    top: 0;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-right: 60px;
}

li a{
    color: white;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 16px 32px;
    text-transform: uppercase;
}

li:nth-child(2){
    background-color: #303B4C;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.2); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(10px);
    transition: background 0.3s ease;
    cursor: pointer;
}

li:nth-child(2):hover{
    background: rgba(255, 255, 255, 0.3); 
}

.logo{
   margin-left: 80px;
    width: 200px;
    height: 100px;
}

.logo img{
    width: 100%;
}

/* @media(width >= 1610px){
    .header-bg{
        height: 200px;    
    }
    ul{
        margin-right: 80px;
    }
    li a{
        font-size: 1.5rem;
        padding: 32px 48px;
    }
    .logo{
        margin-left: 80px;
         width: 350px;
         height: 200px;
     }
} */
