/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: bisque;
} */

body{
  background-color: #303B4C;
  height: 100vh;
  display: grid;

}