/* .container_login2_bg{
    display: block;
    margin:  50px auto 0 auto;
    width: 800px;
    height: 480px;
    background-color: #02040f60;
    border-radius: 20px;
}


.container_login2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.desc{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    gap: 0 120px;
    margin-top: 20px;
}


.desc span{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #FAF0CA;
    font-weight: 0;
    letter-spacing: 0.1rem;
    font-weight: 400;
}

.result_pessoal h2{
    font-family: "Orbitron", sans-serif;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
    color: #FAF0CA;

}

.result_global h2{
    font-family: "Orbitron", sans-serif;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
    color: #FAF0CA;
}

.result_global h2,
 .result_pessoal h2{
    margin-top: 40px;
}


.botaos{
    margin-top: 290px;
    display: flex;
    width: 800px;
    justify-content: space-evenly;   
}

.botaos a{
    padding: 16px 32px;
    border-radius: 50px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border: none;
    color: #02040F;
    cursor: pointer;
    width: 200px;
    text-align: center;
    text-decoration: none;
}

.btn_voltar{
    background-color: #FAF0CA;
}


.btn_voltar:hover{
    background-color: #f5f2e4de;
}

/* @media(min-width: 1650px) and (max-width: 2500px){
  
    .container_login2_bg{
        margin:  50px auto 0 auto;
        width: 1200px;
        height: 700px;
      
    }
    .container_login2{
        width: 1200px;
    }
    .result_pessoal h2, 
    .result_global h2{
        font-size: 2.5rem;
        margin-top: 60px;
        display: inline-block;
    }
    .desc span{
        font-size: 1.8rem;
    }
    .botaos{
        margin-top: 350px;
        width: 1200px; 
    }   
    .botaos button{
        padding: 32px 48px;
       
    }
    .desc span{

        display: inline-block;
    }
    .btn_deletar, 
    .btn_jogar, 
    .btn_voltar{
        font-weight: 500;
        letter-spacing: 0.1rem;
        font-size: 1.5rem;
    }  
} */

.container_login2_bg{
    display: block;
    margin:  30px auto 0 auto;
    width: 800px;
    height: 400px;
    background-color: #02040f60;
    border-radius: 20px;
}


.container_login2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.desc{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    gap: 0 120px;
    margin-top: 20px;
}


.desc span{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #FAF0CA;
    font-weight: 0;
    letter-spacing: 0.1rem;
    font-weight: 400;
}

.result_pessoal h2{
    font-family: "Orbitron", sans-serif;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
    color: #FAF0CA;

}

.result_global h2{
    font-family: "Orbitron", sans-serif;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
    color: #FAF0CA;
}

.result_global h2,
 .result_pessoal h2{
    margin-top: 40px;
}


.botaos{
    margin-top: 220px;
    display: flex;
    width: 800px;
    justify-content: space-evenly;   
}

.botaos a{
    padding: 16px 32px;
    border-radius: 50px;
    text-transform: uppercase;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    border: none;
    color: #02040F;
    cursor: pointer;
    width: 200px;
    text-align: center;
    text-decoration: none;
}

.btn_voltar{
    background-color: #FAF0CA;
}


.btn_voltar:hover{
    background-color: #f5f2e4de;
}

/* @media(min-width: 1650px) and (max-width: 2500px){
  
    .container_login2_bg{
        margin:  50px auto 0 auto;
        width: 1200px;
        height: 700px;
      
    }
    .container_login2{
        width: 1200px;
    }
    .result_pessoal h2, 
    .result_global h2{
        font-size: 2.5rem;
        margin-top: 60px;
        display: inline-block;
    }
    .desc span{
        font-size: 1.8rem;
    }
    .botaos{
        margin-top: 350px;
        width: 1200px; 
    }   
    .botaos button{
        padding: 32px 48px;
       
    }
    .desc span{

        display: inline-block;
    }
    .btn_deletar, 
    .btn_jogar, 
    .btn_voltar{
        font-weight: 500;
        letter-spacing: 0.1rem;
        font-size: 1.5rem;
    }  
} */


