.custom-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.custom-alert-box {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.custom-alert-box p {
    margin: 0 0 20px 0;
    font-family: 'Roboto', sans-serif;
    color: #02040F;
    font-size: 16px;
}

.custom-alert-box .button {
    padding: 10px 20px;
    background-color: #fe9438be;
    color: #02040F;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.custom-alert-box .button:hover {
    background-color: #f5bb8bb0;
}