.container-perfil-bg{
    width: 450px;
    height: 550px;
    background-color: #8da7be;
    border-radius: 20px;
    display: block;
    margin: 40px auto 0 auto;
}


.container-perfil .desc{
    width: 100%;
    height: 250px;
    display: block;
    margin-top: 30px;
    text-align: center;
}



.container-perfil img{
    display: block;
    max-width: 128px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.titulo-perfil{
    margin-top: 30px;
    margin-bottom: 0;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 0.2rem;
    font-size: 1.75rem;
}

.subtitulo-nome{
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.desc2{
    height: 260px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0;
}

 a{
    text-decoration: none;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 16px 32px;
    text-transform: uppercase;
    border-radius: 50px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
}


.btn-voltar{
    margin-bottom: 10px;
    background-color:#303B4C;
    
}

.btn-jogar{
    margin-bottom: 10px;
    background-color:#303B4C;
    
}
.btn-podio{
    margin-bottom: 10px;
    background-color:#303B4C;
    
}

.btn-deletar{
    cursor: pointer;
  background-color:  #CC7178;
}

.btn-voltar:hover, 
.btn-jogar:hover,
.btn-podio:hover{
    background-color: #303b4c7a;
}

.btn-deletar:hover{
    background-color: rgba(209, 129, 129, 0.877);
}



