.oxygen-bar-container {
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
}

.oxygen-bar {
  height: 20px;
  transition: width 0.3s ease, background-color 0.5s ease;
}

/* Cores */
.oxygen-bar-green {
  background-color: #4caf50;
}

.oxygen-bar-yellow {
  background-color: #ffeb3b;
}

.oxygen-bar-red {
  background-color: #f44336;
}
