/* Configurações Swiper */
.swiper-container {
  width: 800px;
  position: relative; 
  display: block;
  margin: auto;
}

.swiper-slide {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  overflow: hidden; 
  border-radius: 15px; 
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 1)); 
}

.swiper-button-prev-custom,
.swiper-button-next-custom {
  position: absolute;
  top: 150px;
  width: 60px; 
  height: 60px; 
  margin-top: 0px; 
  z-index: 10;
  cursor: pointer;
  display: block;
  background-size: 60px 60px; 
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease, background-color 0.3s ease; 
}

.swiper-button-prev-custom {
  left: -130px;
  background-image: url('../../assets/arrows/Left.png'); 
}


.swiper-button-next-custom {
  right: -130px;
  background-image: url('../../assets/arrows/Right.png'); 
}

.swiper-button-prev-custom:hover,
.swiper-button-next-custom:hover {
  transform: scale(1.1); 
  filter: drop-shadow(0 4px 8px rgba(204, 204, 204, 0.5));
}

.swiper-button-prev-custom:active,
.swiper-button-next-custom:active {
  transform: scale(0.9); 
  filter: brightness(2);
}

/*card dos personagens*/
.character-card {
  display: flex;
  align-items: center;
  text-align: justify;
  padding: 10px 20px;
  width: 800px; 
  height: 350px;
  box-sizing: border-box; 
  background-color: #d6d6d6; 
  border-radius: 15px; 
  border: 10px solid #b6b6b6;
  background-size: 20px 20px, 20px 20px;
}

.character-name{
  display: flex;
  justify-content: center;
  color: #636363;
  background-color: #b6b6b6;
  padding: 10px 0px;
  border-radius: 30px 30px 0px 0px;
  border: 2px solid white;
  margin: 0px;
}

.character-phrase {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 156px;
  padding: 0px 95px;
  margin: 0px;
  border: 2px solid #ffffff; 
  border-radius: 0px 0px 50px 50px; 
  background-color: #b6b6b6a2; 
  color: #636363; 
  font-size: 14px;
  text-align: center;
  overflow: hidden; 
  white-space: nowrap; 
}

.character-button-container{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 5%;
  align-items: center;
  font-size: 14px;
}

.character-description-container{
  background-color: white;
  height: 100%;
  padding: 10px 20px;
  border-radius: 5px;
}

.character-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  transition: transform 0.3s;
  padding: 0px 100px;
}

.character-image-container{
  display: inline-block;
  padding: 30px 0px;
  background-color: white; 
}

.character-image-astro {
  filter: drop-shadow(0 4px 8px rgba(255, 0, 0, 0.5));
}

.character-image-luna {
  filter: drop-shadow(0 4px 8px rgba(0, 255, 0, 0.5));
}

.character-image-sol {
  filter: drop-shadow(0 4px 8px rgba(255, 165, 0, 0.5));
}

.character-image:hover {
  transform: scale(1.05);
}

.selected-character {
  margin: 0;
}



/*Botão selecionar personagem*/
@keyframes twinkle {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

.select-button {
  z-index: 10;
  position: relative;
  padding: 12px 24px;
  margin-top: 5px;
  background-color: #313131; 
  color: white;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  font-size: 16px; 
  overflow: hidden; 
  transition: background-color 0.3s, transform 0.3s; 
}

.select-button:hover {
  background-color: #1a1a75; 
  transform: scale(1.05); 
}

.select-button:active {
  background-color: #0000bb; 
  transform: scale(1); 
}

.select-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgb(250, 255, 180) 0.5px, transparent 1px) repeat;
  background-size: 15px 21px; 
  opacity: 1;
  animation: twinkle 1s infinite;
  pointer-events: none;
}
